:root {
    --main-green:#48cfad;
    --main-grey:#434a54;
    --back:#000;
    --soft-white:#e9ecef;
    --soft-grey:#ccd1d9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto Mono',monospace;
}

header {
    display: grid;
    grid-template-rows: .1fr .2fr;
    width: 100%;
    height: 12rem;
    background-color: var(--soft-white);
}

header a {
    padding-left: 1rem;
    text-decoration: none;
    color: var(--back);
    
}

.header-social-networks {
    display: grid;
    width: 100%;
    height: 4rem;
    background-color: var(--main-green);
    box-shadow: 0 0 .5rem 0 rgba(89,73,30,0.16);
}

.header--social--networks-container {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: center;
    width: 60%;
    margin-right: 2rem;
}


.header--social--networks-container .facebook {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/Social/001-facebook.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header--social--networks-container .linkedin {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/Social/010-linkedin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bar-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


.bar--nav-logo, .bar--nav-sm {
     display: flex;
     justify-content: center;
     align-items: center;
}

.bar--nav-logo img {
    width: 21.5rem;

}

.bar--nav-about {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.container-img {
    width: 90%;
    margin: 0 auto;
}

.container-img img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}

.container-details {
    
}

.container-contact {
    
}






.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color:var(--main-green);
}

.footer p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8rem;
}
