:root {
    --main-green:#48cfad;
    --main-grey:#434a54;
    --back:#000;
    --soft-white:#e9ecef;
    --soft-grey:#ccd1d9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto Mono',monospace;
}

header {
    display: grid;
    grid-template-rows: .1fr .2fr;
    width: 100%;
    height: 12rem;
    background-color: var(--soft-white);
}

header a {
    padding-left: 1rem;
    text-decoration: none;
    color: var(--back);
    
}

.header-social-networks {
    display: grid;
    width: 100%;
    height: 4rem;
    background-color: var(--main-green);
    box-shadow: 0 0 .5rem 0 rgba(89,73,30,0.16);
}

.header--social--networks-container {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: center;
    width: 60%;
    margin-right: 2rem;
}


.header--social--networks-container .facebook {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/Social/001-facebook.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header--social--networks-container .linkedin {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/Social/010-linkedin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bar-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


.bar--nav-logo, .bar--nav-sm {
     display: flex;
     justify-content: center;
     align-items: center;
}

.bar--nav-logo img {
    width: 21.5rem;

}

.bar--nav-about {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.blogs-container {
    width: 100%;
    height:auto;
}

.blogs-container .star-blog {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: auto;
    background-color: var(--soft-grey);
}

.blogs-container .blog-img {
    display: grid;
    grid-row: 1;
    
}

.blog-img > h1 {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2rem;
    margin-left: 1rem;
}

.blog-img > span {
    width: 100%;
    height: 20rem;
    background-image: url('../assets/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogs-container .blog-description {
    display: grid;
    grid-row: 2;
    height: 30rem;

}

.blog-description > h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    margin:0 auto;
    margin-bottom: 2rem;
}

.blog-description > p {
    margin:0 .4rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
}

.blog-description > button {
    width: 8.5rem;
    height: 2.8rem;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: var(--soft-grey);
    border: 2px solid var(--main-green);
}

.blog-description > button:active {
    color: var(--soft-white);
    background-color: var(--main-green);
}

.last-blog {
    width: 100%;
    height: auto;
    background-color: var(--soft-white);
}